.page1-details{
    color: white;
    position: absolute;
    top: 65%;
    left: 10%;
    font-family: 'D-DIN';
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title{
    font-size: 1.4rem;
}

.sub-title{
    font-size: 45px;
}

section {
  display: flex;
  
  align-items: center;
  
  width: 100%;
}
button {
  color: #FFF;
  background: transparent;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #FFF;
  width: fit-content;
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
  padding: 1.5em 4em;
  margin-top: 1em;
  position: relative;
  overflow: hidden;
  z-index: 100;
  font-weight: bold;
}
section button::before {
  background: #FFF;
  content: "";
  position: absolute;
  z-index: -1;
}
section button::after {
  background: #FFF;
  content: "";
  position: absolute;
  z-index: -1;
}
section button:hover {
  color: #000;
  cursor: pointer;
}
.animated_button::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  transform-origin: top center;
  transform: scale3d(1, 0, 1);
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.animated_button:hover::after {
  height: 100%;
  width: 100%;
  transform: scale3d(1, 1, 1);
  transform-origin: bottom center;
}

.close-btn{
  height: 33px;
  cursor: pointer;
  margin-bottom: 30px;
  padding-top: 30px;
  animation-name: sidebar-animation-close;
  animation-duration: 0.2s;
}

@keyframes sidebar-animation-close {
    0% {
        width: 23vw;}
    100% {
        width: 0;
    }
}

