*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior:smooth;
}
@font-face {
    font-family: 'D-DIN-Bold';
    src: url('../fonts/D-DIN-Bold.woff') format('woff');
         
              
   
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'D-DIN';
    src:  url('../fonts/D-DIN.woff') format('woff');
              
   
    font-weight: normal;
    font-style: normal;
}
.container{
    height: 4526px;
    
}


.page1{
    height: 900px;
    width: 100%;
    background-image: url("../images/page1.jpg");
    object-fit: contain;
    background-size: cover;
    z-index: 0; 
    position: relative;

}

nav{
    position: fixed;
    display: flex;
    align-items: center;
    height: 11vh;
    justify-content: space-between;
    z-index: 1;
    width: 100vw;
    opacity: 1;
    transition: background-color 1s;  
}

.navbar-disappear{
opacity: 0;
transition: opacity 1s;
}

.navbar-appear{
    opacity: 1;
}

@keyframes navbar-animation {
    from{
        transform:translateY(0);
    }
    to{
        transform: translateY(-100%);
    }
    
}

.aligner-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left:10%;
}

.nav-list{
    color: white;
    display: flex;
    gap: 10px;
    font-size: 15px;
    font-family: 'D-DIN-Bold';
    list-style-type: none;
}

.logo {
    height: 1.8rem;
    margin-right: 30px;
    
}

.nav-list2{
    list-style-type: none;
    font-family: 'D-DIN-Bold';
    font-size: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-right: 60px;
}



.ham-menu{
    height: 18px;
    cursor: pointer;
}

 li{
    position: relative;
    margin: 0 10px;
}

 li{
    position: relative;
    color: #a7a5a5;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.2s ease-in-out; 
    cursor: pointer;
}

 li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    background-color: white; 
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}
 li:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

 li:hover {
    color: white; 
}




.page2{
    height: 900px;
    width: 100%;
    background-image: url("../images/page2.jpg");
    object-fit: contain;
    background-size: cover;
    z-index: 0; 
    position: relative;

}
.page3{
    height: 900px;
    width: 100%;
    background-image: url("../images/page3.jpg");
    object-fit: contain;
    background-size: cover;
    z-index: 0; 
    position: relative;

}
.page4{
    height: 900px;
    width: 100%;
    background-image: url("../images/page4.jpg");
    object-fit: contain;
    background-size: cover;
    z-index: 0; 
    position: relative;

}
.page5{
    height: 900px;
    width: 100%;
    background-image: url("../images/page5.jpg");
    object-fit: contain;
    background-size: cover;
    z-index: 0; 
    position: relative;
}

.sidebar {
    position: fixed;
    color: white;
    right: 0;
    background-color: black;
    z-index: 1;
    height: 100vh;
    width: 23vw;
    text-align: right;
    display: none;
    padding-right: 30px;
    
}

.sidebar-open{
animation-name: sidebar-animation;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;  
}

.sidebar-close{
    animation-name: sidebar-animation-close;
    animation-duration: 0.2s;
    animation-timing-function: ease-out; 
    width: 0;
}

@keyframes sidebar-animation {
    0% {
        width: 0;}
    100% {
        width: 23vw;
    }
}

@keyframes sidebar-animation-close {
    0% {
        width: 23vw;}
    100% {
        width: 0;
    }
}
.sidebar > a {
    width: 100%;
    line-height: 40px;
    display: block;
    font-family: D-DIN;
    text-align: right;
    margin-top: 7px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: color 0.4s;
}

.sidebar > a:hover{
    color: #a7a5a5;;
}

.sidebar > a > label > img {
    display: block; 
    margin-left: auto; 
    margin-right: 0; 
}

.sidebar > a:not(:first-child)::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60%;
    height: 0.8px; 
    background-color:rgb(51, 51, 51); 
}

.scroll_img{
    position: absolute;
    bottom: 20px;
    height: 50px;
    right: 50%; 
    animation-name: scroll_animation;
    animation-duration: 1.9s;
    animation-iteration-count: infinite;
    
}

@keyframes scroll_animation{
    0%{
    bottom: 60px;
    opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        bottom: 40px;
        opacity: 0.0;
    }
}


