*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'D-DIN';
    src: url('../fonts/D-DIN-Bold.woff') format('woff'),
         url('../fonts/D-DIN.woff') format('woff');
         
         
   
    font-weight: normal;
    font-style: normal;
}
.container{
    height: 4526px;
    
}
.page1{
    height: 900px;
    width: 100%;
    background-image: url("../images/page1.jpg");
    object-fit: contain;
    background-size: cover;
    z-index: 0; 
    position: relative;

}

nav{
    position: relative;
    display: flex;
    align-items: center;
    height: 11vh;
    justify-content: space-around;
    gap: 35px;
    
}

.nav-list{
    color: white;
    display: flex;
    gap: 10px;
    font-size: 15px;
    font-family: 'D-DIN';
    list-style-type: none;
}

.nav-list2{
    list-style-type: none;
    font-family: 'D-DIN';
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ham-menu{
    height: 20px;
    cursor: pointer;
}

 li{
    position: relative;
    margin: 0 10px;
}

 li{
    position: relative;
    color: #a7a5a5;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.2s ease-in-out; 
    cursor: pointer;
}

 li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    background-color: white; 
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}
 li:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

 li:hover {
    color: white; 
}

.page1 > nav > img {
    height: 26%;
    
}


.page2{
    height: 900px;
    width: 100%;
    background-image: url("../images/page2.jpg");
    object-fit: contain;
    background-size: cover;
    z-index: 0; 
    position: relative;

}
.page3{
    height: 900px;
    width: 100%;
    background-image: url("../images/page3.jpg");
    object-fit: contain;
    background-size: cover;
    z-index: 0; 
    position: relative;

}
.page4{
    height: 900px;
    width: 100%;
    background-image: url("../images/page4.jpg");
    object-fit: contain;
    background-size: cover;
    z-index: 0; 
    position: relative;

}
.page5{
    height: 900px;
    width: 100%;
    background-image: url("../images/page5.jpg");
    object-fit: contain;
    background-size: cover;
    z-index: 0; 
    position: relative;
}

.sidebar{
    position: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    right: 0;
    
}

